*{margin:0;padding:0}
body
{
	background:#333;
}
.table_div
{
	width:400px;
	margin:200px auto;
	background:#fff;
}
.table_div table
{	
	width:100%;
	border-spacing:0;	
	border:3px double #3883cc;	
}
table td
{
	border-top:1px solid #3883cc;
	border-left:1px solid #3883cc;	
	padding:10px;
}
table td input[type="text"]
{
	width:94%;
	border:1px solid #333;
	padding:0 7px;
	height:25px;
}
table td input[type="password"]
{
	width:94%;
	border:1px solid #333;
	padding:0 7px;
	height:25px;
}
table td input[type="submit"]
{
	background:#333;
	cursor: pointer;
	border:none;
	padding:10px;
	color:#fff;
	font-style:14px;
	font-weight: bold;
	margin-left:122px;
}
.title
{
	background:#3883cc;
	text-align: center;
	font-style:18px;
	color:#fff;
	font-weight: bold;
	text-transform: uppercase;
}